<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="com.epam.springepam2020"/>

    <bean id = "stormtrooper" class="com.epam.springepam2020.Stormtrooper">
        <constructor-arg ref="weapon"/>
    </bean>

    <bean id = "flag" class = "com.epam.springepam2020.Flag">
        <constructor-arg value="WHITE"/>
    </bean>

    <bean id = "weapon" class = "com.epam.springepam2020.Weapon">
        <constructor-arg value="Blaster-Bean"/>
    </bean>

</beans>