<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div align="center">
    <h2>List of stormtroopers</h2>
    <p><a href="/addStormtrooper">Add stormtrooper</a></p>
    <br><br>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Weapon name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="stormtrooper : ${listStormtroopers}">
            <td th:text=${stormtrooper.id}>ID</td>
            <td th:text=${stormtrooper.name}>Name</td>
            <td th:text=${stormtrooper.age}>Age</td>
            <td th:text=${stormtrooper.weapon.name}>Weapon name</td>
            <td>
                <a th:href="@{'/update/' + ${stormtrooper.id}}">Update</a>
                <a th:href="@{'/delete/' + ${stormtrooper.id}}">Delete</a>
            </td>
            <br>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>